doctype xml
ps:Capabilities(xmlns:ps="http://www.opengis.net/3dps/1.0" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/3dps/1.0 ../../../schema/3dpResp.xsd" version="1.0.0")
  ows:ServiceIdentification
    ows:Title HFT Stuttagrt 3DPS Implementation
    ows:ServiceTypeVersion 1.0
    ows:ServiceType(codeSpace="OGC") 3DPS
  ows:OperationsMetadata
    ows:Operation(name="GetCapabilities")
    ows:Operation(name="GetScene")
  Contents
    each layer in layers
      Layer
        Title(xml:lang="en-us")= layer.name
        Identifier(codeSpace="http://www.opengis.net/3dps/1.0")= layer.id
        ows:BoundingBox
          ows:LowerCorner= `${layer.boundingbox[0]} ${layer.boundingbox[1]}`
          ows:UpperCorner= `${layer.boundingbox[2]} ${layer.boundingbox[3]}`
        AvailbaleCRS= layer.CRS
