doctype xml
ExceptionReport(xmlns="http://www.opengis.net/ows/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/ows/2.0 owsExceptionReport.xsd" version="1.0.0" xml:lang="en")
  Exception(exceptionCode=`${exceptionCode}` locator=`${locator}`)