doctype html
html(lang="en")
  head
    style(type="text/css").
      body {
        font-family: monospace;
      }
      .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    title HFT Stuttgart 3DPS
  body
    div(class="centered")
      pre= art
      p This is an impementation of the 3D Portrayal Service.
      p For more details visit #[a( href="https://gitlab.com/tomeof/node-3dpsx", target="_blank" ) https://gitlab.com/tomeof/node-3dpsx]
